.table{
    color: #fff;
    border: solid 2px #01022d;
    border-radius: 5px;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    width: 900px;
   
}

.tbody{
    background-color: #467dd7;
}

.thead{
    background-color: #080a72;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.td{
   border: solid 2px #01022d;
}

.divao{
    border-radius: 8px;
    width: 95vw;
    max-width: 900px;
    padding: 10px;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    margin: auto;
}

.input{
    margin: auto;
    font-family: "Concert One", serif;
    font-size: 25px;
    
}

.h2{
    font-size: 30px;
    color: black;
    font-family: "Alata", serif;
    text-align: center;
}


