.table{
    color: #fff;
    border: solid 2px #01022d;
    border-radius: 5px;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    width: 6000px;
   
}

.tbody{
     display: table-row-group;
      vertical-align: middle;
      unicode-bidi: isolate;
      border-color: rgb(255, 255, 255);
      max-width: 900px;
      background-color: #467dd7;
    
}

.thead{
    background-color: #080a72;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.td{
   border: solid 2px #01022d;
}

.divao{
    padding: 20px;
    max-width: 900px;

    margin: 0 auto;
    background-color: #e7ebfb;
    border-radius: 8px;
    border: 1px solid rgba(8, 10, 10, 0.649);;
  
}